<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Student Verified
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <img [src]="studentRecord?.profile_picture" alt="" (error)="setDefault($event)">

  <ion-list lines="none">

    <ion-item>
      <div>
        <strong>Firstname:</strong>
        <p>{{ studentRecord?.user_detail?.first_name | titlecase }}</p>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <strong>Lastname:</strong>
        <p>{{ studentRecord?.user_detail?.last_name | titlecase }}</p>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <strong>Gender:</strong>
        <p>{{ studentRecord?.gender | titlecase }}</p>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <strong>Email:</strong>
        <p>{{ studentRecord?.user_detail?.email | lowercase}}</p>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <strong>Phone Number:</strong>
        <p>{{ studentRecord?.phone_number }}</p>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <strong>Matric No.:</strong>
        <p>{{ studentRecord?.matric_no | uppercase }}</p>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <strong>Department:</strong>
        <p>{{ studentRecord?.department | titlecase }}</p>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <strong>Hostel:</strong>
        <p>{{ studentRecord?.hostel | titlecase }}</p>
      </div>
    </ion-item>
    
  </ion-list>


</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-button (click)="close()" expand="block">
    Close
  </ion-button>
</ion-footer>
