ion-content {

  img {
    width: 127px;
    height: 130px;
    border-radius: 8px;
  }

  ion-list {

    ion-item {

      margin-top: 1em;

      div {

        p{
          margin: 10px 0 0 0;
        }
      }
    }
  }
}